<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reverse statement</title>
</head>
<body>
<table border="1">
    <thead>

    <tr>
        <th>Квартира</th>
        <th>Входящее сальдо</th>
        <div th:each="temp : ${dtoList.get(0).getCharges().keySet()}">
            <th th:text="${temp}"></th>
        </div>

    </tr>

    </thead>
    <tbody>
    <tr th:each="temp : ${dtoList}">
        <td th:text="${temp.getPersonalAccount()}"></td>
        <td th:text="${temp.getSaldo().get('inital')}"></td>


    </tr>
    </tbody>
</table>
</body>
</html>