<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reverse statement</title>
</head>
<body>
<table border="1">
    <thead>

    <tr>
        <th>Номер квартиры</th>
        <th>Входящее сальдо</th>
        <th>Январь</th>
        <th>Февраль</th>
        <th>Март</th>
        <th>Апрель</th>
        <th>Май</th>
        <th>Июнь</th>
        <th>Июль</th>
        <th>Август</th>
        <th>Сентябрь</th>
        <th>Октябрь</th>
        <th>Ноябрь</th>
        <th>Декабрь</th>
    </tr>

    </thead>
    <tbody>
    <div th:each="current : ${dtoList}">
        <tr>
            <td th:text="${current.personalAccount}"></td>
            <td th:text="${current.getInitialSaldo()}"></td>
            <div th:each="temp : ${current.getDescription()}">
                <td th:text="${temp}"></td>
            </div>
        </tr>
    </div>
    </tbody>
</table>
</body>
</html>